<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^admin/ - [F]
	RewriteRule ^vendor/ - [F]
	RewriteRule ^logs/ - [F]
	RewriteRule ^composer\..* - [F]
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	RewriteBase /

	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule . /index.php [L]
</IfModule>