<IfModule mod_rewrite.c>
	RewriteEngine On

	# Authorization header
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Security headers
    <IfModule mod_headers.c>
        Header set X-Content-Type-Options "nosniff"
        Header set X-XSS-Protection "1; mode=block"
    </IfModule>

	# Forbidden directories
	RewriteRule ^admin/ - [F]
	RewriteRule ^vendor/ - [F]
	RewriteRule ^logs/ - [F]
	RewriteRule ^composer\..* - [F]

	# Block files in root starting with _
	RewriteRule ^_([^/]+)$ - [F]

	# Route Telegram endpoints
	RewriteRule ^api/telegram/webhook\.php$ api/telegram/webhook.php [QSA,L]
	RewriteRule ^api/telegram(/.*)?$ api/telegram/index.php [QSA,L]

	# Route API calls
    RewriteRule ^api/(.*)$ api/index.php [QSA,L]

	# Do not rewrite URL if index.php
	RewriteRule ^index\.php$ - [L]

	# Exclude .well-known from rewrite rules
    RewriteRule ^\.well-known/acme-challenge/ - [L]

	# If dir or file do not exist
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	# Redirect
	RewriteRule . index.php [L]

</IfModule>
