:root {
    --color: #007bff;
    --color-background: #f2f4f8
    --button-border-radius: 9999px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--color-background);
}

#page {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    height: 3rem;
}
main {
    flex-grow: 1;
}
footer {
    height: 5rem;
}
#map{
    width: 100%;
    height: 100%;
}

/* Login/user */

.loginwidth{max-width: 20rem;}
.userwidth{max-width: 40rem;}

#login{
    margin: auto;

}

#login h1 {
    margin-bottom: 20px;
}
#login .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    border-radius: var(--button-border-radius);
}
#login .btn-google {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    padding-left: 50px;
}
#login .btn-google::before {
    content: '';
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cpath id='a' d='M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' overflow='visible'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23b)' fill='%23FBBC05' d='M0 37V11l17 13z'/%3E%3Cpath clip-path='url(%23b)' fill='%23EA4335' d='M0 11l17 13 7-6.1L48 14V0H0z'/%3E%3Cpath clip-path='url(%23b)' fill='%2334A853' d='M0 37l30-23 7.9 1L48 0v48H0z'/%3E%3Cpath clip-path='url(%23b)' fill='%234285F4' d='M48 48L17 24l-4-3 35-10z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}
#login .btn-facebook {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    padding-left: 50px;
}
#login .btn-facebook::before {
    content: '';
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%231877F2' d='M24 0C10.8 0 0 10.8 0 24c0 11.9 8.7 21.7 20 23.7v-16.8h-6v-7h6v-5.2c0-6 3.6-9.3 9.1-9.3 2.6 0 5.3.5 5.3.5v5.9h-3c-3 0-3.9 1.9-3.9 3.9v4.3h6.6l-1 7h-5.6v16.8c11.3-2 20-11.8 20-23.7 0-13.2-10.8-24-24-24z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}
#login .divider {
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    text-align: center;
}
#login .divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}
#login .divider:not(:empty)::before {
    margin-right: .5em;
}
#login .divider:not(:empty)::after {
    margin-left: .5em;
}
#login .input-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#login .btn-submit {
    background-color: var(--color);
    color: white;
    border: none;
    margin-top: 1rem;
}
#login .error-message{
    margin-top: 0;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.input-field {
    flex: 1; /* Permet à l'input de prendre tout l'espace restant */
}

#login ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* header */

#geogram{
    display: block;
    position: relative;
    padding: 0.5rem;
    width: fit-content;
    height: 100%;
}
#geogram img{
    width: 10rem;
    height: auto;
}

#signin{
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
}

.icon-button{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    background-color: var(--color-background);
    border: none;
    padding: 0.3rem;
}

.dropdown-menu {
    position: absolute;
    top: 2rem;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}
.dropdown-menu a {
    padding: 8px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.user-sign{
    display: block;
    color: black;
    width: fit-content;
    padding: 1rem;
}

.user-menu{
}

/* MAP */
#geoPopup {text-align: center;}
#geoPopup button{margin: 0.5rem;}

/* Suite */

a:link,a:visited,a:hover,a:active {color: inherit;text-decoration: none}


#container{
    display: flex;
    position: absolute;
    top: 0;
}
#left{width:70vw;height: 100vh;position: relative}
#sidebar{width:30vw;height: 100vh;overflow-y: scroll;overflow-x: hidden;z-index: 10000}
#bikers,#bikers_list{width: 100%;border-spacing:0;line-height: 1.5rem;background-color: white;}
#bikers_list{table-layout: fixed;}
#bikers_list tr {display: grid;grid-template-columns: 1rem 2rem 2fr 3rem 3rem 1rem;}
td{line-height: 1.5rem;}
.line{background-color: #e4f2f7}
.lineW{background-color: #fff}
.lineH{height:1.8rem;color:#e4f2f7;background-color: var(--menu-color);}
.lineG{background-color: #ADFF2F}
.spacer{width: 1rem;}
td p{padding:0 1rem;margin:0}
td.plus{width:1.5rem}
td.action {white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
td.km{width:5rem}
td.dplus{width:6rem}

#containerText{
    width:100%;
    max-width: 60ch;margin:0 auto;padding:0rem 0 2rem 0}

form{display: inline-block;width:100%}

img.txt{width:100%;max-width: 60ch;height: auto;}
img.weather{width: 2rem;height: 2rem;margin-left: 0.3rem;vertical-align: middle;}
img.photo{/*width: fit-content;*//*max-width:27vw;*/ height: auto;}
img.symb{width: 1rem;height: 1rem;margin-left: 0.3rem;vertical-align: text-top;}
h1{padding:2rem 0.5rem 0rem 0.5rem;text-align: center;}
h2{text-align: center;margin-top: 3rem;}
p.underh1{margin: 0;text-align: center;font-style: italic;}
p.baseline{margin: 0.5rem 0 2rem 0;text-align: center;}
li{margin: 1rem 0;padding-right: 1rem;}
ol img{margin-left: -1rem;}

#menuback{width:100%;height: 1.8rem;background-color: #007fff;position: fixed;top:0;left:0;z-index:0}
#menu{
    background-color:var(--menu-color);
    color:#e4f2f7;
    line-height: 1.5rem;
    padding:0;
    margin:0;
    position: fixed;
    top:0;
    left:0;
    height: 1.8rem;
    width: 100%;
    z-index:10000
}
#menu_left{
    padding-left: 2rem;
    padding-top: 0.1rem;
}
#menu_center{
    width: 100%;
    text-align: center;
    padding-top: 0.1rem;
}

menu a:not(.first):not(.last) {flex: 1}
#menu a.first{font-weight: normal;}
#menu a.center{font-weight: bold}
#menu a.last{margin-left: 1rem;}

#submenu {text-align: center;display: inline-block;width:100%;margin: 1rem 0 2rem 0;}
#submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}    
#submenu li {display: inline-block;padding: 0 0.3rem;margin:0}

#submenu li a {
display: block;
color: #666;
text-align: center;
padding: 14px 5px;
text-decoration: none;
}

#submenu li a:hover {
background-color: #ddd;
}

#submenu li.current-page a {
    background-color: #333;
    color: #fff;
}

#submenu li.donate a {
    background-color: #39B54A;
    color: #fff;
    font-weight: bold;
}

#m {
    position: fixed;
    text-align: left;
    top: -0.4rem;
    left:0;
    z-index: 100000;
}
    
#m .button {margin:0;padding: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}
#m ul {
    display: none;
    position: absolute;
    top: 1rem;
    left: 0;
    background-color: #007fff;
    color: white;
    border: 1px solid #ccc;
    padding: 0.5rem;
    list-style-type: none;
    width: max-content;
}
    
#m li {
    margin: 0.5rem 0;padding: 0.2rem;
}
    
#m .button:hover + ul,
#m ul:hover {display: block}

#m li.donate {background-color: #39B54A;font-weight: bold;}
#m li.current {background-color: #333}
#m li:hover {background-color: #999;}

div.une_chat {display: flex;text-align: left;margin-bottom: 1rem;}
div.une_chat img{width:10rem;height: 10rem;margin-right: 1rem;display: inline-block;}
div.une_chat a:link,a:visited,a:hover,a:active {color: inherit;text-decoration: none;border-bottom: none;}
div.noimg{width:10rem;height: 10rem;margin-right: 1rem;display: inline-block;text-align: center;vertical-align: middle;overflow: hidden;font-size: 2rem;color: #fff;display: flex;justify-content: center;}
div.noimg div.text{display: flex;align-items: center;text-align: center;}
div.round {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border:2px solid #DDD;background-size: cover;
    margin: 0 0.5rem;
}
div.roundmax {width: 15rem;height: 15rem;margin: 3rem auto -2rem auto;}

div.une_chat h3{margin: 0; font-size: 1.5rem;}
div.une_chat p{margin:0 0 0.5rem 0;}

span.why{font-size: x-small;vertical-align: middle;}

p a:link,p a:visited,p a:hover,p a:active {color: inherit;text-decoration: none;border-bottom: 2px #007fff dotted;}
ol a:link,ol a:visited,ol a:hover,ol a:active {color: inherit;text-decoration: none;border-bottom: 2px #007fff dotted;}
span.why a:link,span.why a:visited,span.why a:hover,span.why a:active {color: inherit;text-decoration: none;border-bottom: 2px #007fff dotted;}

.marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

:target::before {
    content: "";
    display: block;
    height: 5rem;
    margin-top: -5rem;
  }

@media screen and (orientation: portrait) {
    #container{display: block}
    #left{width:100vw;height: 50vh}
    #menu{width:100vw;}
    #sidebar{width:100vw;height: 50vh}
    #bikers{margin-bottom: 5rem;}
    img.photo{max-width:100vw}
    h1,h2,p{margin: 1rem;}
    form{margin:0 1rem;width:80%}
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}